<!DOCTYPE html>
<html ng-app="chat">
<head>
	<title>linkyloo</title>
	<link href='//fonts.googleapis.com/css?family=Roboto|Raleway|Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="index.css" type="text/css" />
  	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

</head>
<body>
	<div id="stage" ng-controller="Content">
		<div ng-cloak ng-repeat="(id, item) in items">
			<widget />
		</div>
	</div>

	<div id="chat" class="well" ng-controller="Chat">
	  <form class="form-inline">
	    Your name: <input type="text" ng-model="username">
	  </form>
	  <div id="messages">
	  	<div ng-cloak ng-repeat="message in messages">
		    <em>{{message.from}}: </em>{{message.content}}
	  	</div><br/>
	  </div>
	  <form class="form-inline" ng-submit="addMessage()">
	    <input id="message" type="text" ng-model="message" placeholder="Message...">
	  </form>
	</div>
	
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
	<script src="//cdn.firebase.com/v0/firebase.js"></script>
	<script src="//cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
	<script src="app.js"></script>
</body>
</html>